doctype html
html
  head
    //declare the page features
    title= 'Love v/s Hate-Twitter Sentiment Analyzer'
    meta(name='viewport',content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet',href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet',href='/stylesheets/bootstrap-theme.min.css')
    block styles
  block scripts
 
  body
    block content